

@{ Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

@*<link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
<link type="text/css" href="css/theme.css" rel="stylesheet">
<link type="text/css" href="images/icons/css/font-awesome.css" rel="stylesheet">
<link href="~/css/dashboard.css" rel="stylesheet" />


<body>
    <div class="container">
        <div id="first-header">

            <button onclick="toggleTheme()">Switch theme</button>
            <h1>Statistical</h1>
        </div>
        <div class="grid">
            <div class="col">
                <div class="card-container">
                    <div class="card" id="b-card-facebook">
                        <a href="@Url.Action("Index","Agents")">
                            <div class="border"></div>
                            <p class="light-blue social-username">
                                <i class="fas fa-users social-icon"></i>

                            </p>
                            <h1>@ViewBag.AgentCount</h1>
                            <p class="light-blue data-type">Agents</p>
                            @*<p class="data-today text-sucess"><small><i class="fas fa-caret-up"></i><br><b>12 Today</b></small></p>*@
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <div class="card" id="b-card-twitter">
                        <a href="@Url.Action("Index","Sellers")">
                            <div class="border"></div>
                            <p class="light-blue social-username">
                                <i class="fas fa-user social-icon"></i>

                            </p>
                            <h1>@ViewBag.SellerCount</h1>
                            <p class="light-blue data-type">Sellers</p>
                            @*<p class="data-today text-sucess"><small><i class="fas fa-caret-up"></i><br><b>99 Today</b></small></p>*@
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <div class="card" id="b-card-instagram">
                        <a href="@Url.Action("Index","Advertisements")">
                            <div class="border"></div>
                            <p class="light-blue social-username">
                                <i class="fas fa-ad social-icon"></i>

                            </p>
                            <h1>@ViewBag.AdsCount</h1>
                            <p class="light-blue data-type">Post</p>
                            @*<p class="data-today text-sucess"><small><i class="fas fa-caret-up"></i><br><b>1099 Today</b></small></p>*@
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <div class="card" id="b-card-pinterest">
                        <a href="@Url.Action("Index","Reports")">
                            <div class="border"></div>
                            <p class="light-blue social-username">
                                <i class="fas fa-list-ol social-icon"></i>
                            </p>
                            <h1>@ViewBag.ReportCount</h1>
                            <p class="light-blue data-type">Report</p>
                            @*<p class="data-today text-danger"><small><i class="fas fa-caret-down"></i><br><b>144 Today</b></small></p>*@
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="hook">
            <h1>Overiew - More Details</h1>
        </div>
        <div class="grid">
            <div class="col">
                <div class="card-container">
                    <a href="@Url.Action("Activate","Advertisements")">
                        <div class="card small-card" id="b-card-facebook">
                            <p class="small-text light-blue"><small><b>Activated Post</b></small></p>
                            <p class="small-logo"><i class="fas fa-ad social-icon"></i></p>
                            <h1 class="small-number"><small>@ViewBag.AdsActivateCount</small></h1>
                            @*<p class="small-percent text-sucess"><small><i class="fas fa-caret-up"></i><br><b>7%</b></small></p>*@
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <a href="@Url.Action("Activate","Agents")">
                        <div class="card small-card" id="b-card-facebook">
                            <p class="small-text light-blue"><small><b>Activated Agent</b></small></p>
                            <p class="small-logo"><i class="fas fa-users social-icon"></i></p>
                            <h1 class="small-number"><small>@ViewBag.AgentActivateCount</small></h1>
                            @*<p class="small-percent text-danger"><small><i class="fas fa-caret-down"></i><br><b>2%</b></small></p>*@
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <a href="@Url.Action("Activate","Sellers")">
                        <div class="card small-card" id="b-card-instagram">
                            <p class="small-text light-blue"><small><b>Activated Seller</b></small></p>
                            <p class="small-logo"><i class="fas fa-user social-icon"></i></p>
                            <h1 class="small-number"><small>@ViewBag.SellerActivateCount</small></h1>
                            @*<p class="small-percent text-sucess"><small><i class="fas fa-caret-up"></i><br><b>245%</b></small></p>*@
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col">
                <div class="card-container">
                    <a href="@Url.Action("NotActivate","Advertisements")">
                        <div class="card small-card" id="b-card-twitter">
                            <p class="small-text light-blue"><small><b>Not Activate Post</b></small></p>
                            <p class="small-logo"><i class="fas fa-ad social-icon"></i></p>
                            <h1 class="small-number"><small>@ViewBag.AdsNotActivateCount</small></h1>
                            @*<p class="small-percent text-danger"><small><i class="fas fa-caret-down"></i><br><b>7%</b></small></p>*@
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <a href="@Url.Action("NotActivate","Agents")">
                        <div class="card small-card" id="b-card-twitter">
                            <p class="small-text light-blue"><small><b>Not Activate Agents</b></small></p>
                            <p class="small-logo"><i class="fas fa-users social-icon"></i></i></p>
                            <h1 class="small-number"><small>@ViewBag.AgentNotActivateCount</small></h1>
                            @*<p class="small-percent text-danger"><small><i class="fas fa-caret-down"></i><br><b>2%</b></small></p>*@
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card-container">
                    <a href="@Url.Action("NotActivate","Sellers")">
                        <div class="card small-card" id="b-card-pinterest">
                            <p class="small-text light-blue"><small><b>Not Activate Sellers</b></small></p>
                            <p class="small-logo"><i class="fas fa-user social-icon"></i></p>
                            <h1 class="small-number"><small>@ViewBag.SellerNotActivateCount</small></h1>
                            @*<p class="small-percent text-sucess"><small><i class="fas fa-caret-up"></i><br><b>245%</b></small></p>*@
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
<script type="text/javascript">
    function toggleTheme() {
        window.theme = typeof window.theme === "string" ? window.theme : "light";
        var switchToTheme = window.theme === "light" ? "dark" : "light";
        window.theme = switchToTheme;
        document.querySelector("body").setAttribute("data-theme", switchToTheme);
    }
</script>
